ul {
    background-color: white;
    border: 10px;
    border-width: 5px;
    border-color: black;
    border-radius: 5%;
}

.country-details {
    border: 10px;
    border-color: black;
    border-width: 5px;
    border-style: double;
    border-radius: 5%;
    list-style: none;
}

.holiday-list {
    list-style: none;
}