.App {
  text-align: center;
  justify-content: center;
}

.worldMap {
  border-radius: 46%;
  width: 100%;
  border-style: solid;
  background-color: lightskyblue
}

/* .map {
  border-radius: 30%;
  border-style: solid;
} */

.country-details {
  background-color: peachpuff;
  border-style: solid;
  margin: 30px;
  border-radius: 30px;
  max-width: 100rem;
  /* flex-direction: column; */
}

.holiday {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: .75rem;
  /* max-width: 100rem; */
}

.holiday:hover{
  background-color: papayawhip;
  border-radius: 4px;
  transition: all 0.2s ease-out;
}

.holidayHeader {
  text-decoration: underline;
  font-weight: bold;
}

.name {
  font-size: x-large;
  font-weight: bold;
  margin-bottom: 1rem;
}

.holidayName {
  width: 20rem;
  /* margin-bottom: .75rem; */
}

.holidayDate {
  width: 20rem;
}

.holidayObserved {
  width: 20rem;
}

.holidayType {
  width: 20rem;
}