.App {
  text-align: center;
  justify-content: center;
}




#logo {
  height: 5rem
}

/* .worldMap {
  border-radius: 46%;
  width: 100%;
  border-style: solid;
  padding-right: 90px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  background: radial-gradient(circle at 50% 50%, #66d9e8, #47c4d7 10%, #0c7bdc 66%, #106bc1 100%);
  
/* /* } */

svg {
  border-radius: 46%;
  /* width: 100%; */
  border-style: solid;
  /* padding-right: 90px; */
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  background: radial-gradient(circle at 50% 50%, #66d9e8, #47c4d7 10%, #0c7bdc 66%, #106bc1 100%);
}

.country-details {
  margin: 50px 30px 30px 30px;
  background-color: rgb(202, 56, 252, .5);
  border-style: solid;
  border-radius: 30px;
  max-width: 100rem;
  box-shadow: rgb(85, 91, 255) 0px 0px 0px 3px, rgb(31, 193, 27) 0px 0px 0px 6px, rgb(255, 217, 19) 0px 0px 0px 9px, rgb(255, 156, 85) 0px 0px 0px 12px, rgb(255, 85, 85) 0px 0px 0px 15px;
  /* flex-direction: column; */
}

.holiday {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: .75rem;
  /* max-width: 100rem; */
}
.etiquette-container {
  margin: 50px 30px 30px 30px;
  background-color: rgb(202, 56, 252, .5);
  border-style: solid;
  border-radius: 30px;
  max-width: 100rem;
  box-shadow: rgb(85, 91, 255) 0px 0px 0px 3px, rgb(31, 193, 27) 0px 0px 0px 6px, rgb(255, 217, 19) 0px 0px 0px 9px, rgb(255, 156, 85) 0px 0px 0px 12px, rgb(255, 85, 85) 0px 0px 0px 15px;

}

.holiday:hover{
  background-color: papayawhip;
  border-radius: 4px;
  transition: all 0.2s ease-out;
}

.holidayHeader {
  text-decoration: underline;
  font-weight: bold;
}

.name {
  font-size: x-large;
  font-weight: bold;
  margin-bottom: 1rem;
}

.holidayName {
  width: 20rem;
  /* margin-bottom: .75rem; */
}

.holidayDate {
  width: 25rem;
}

.holidayObserved {
  width: 20rem;
}

.holidayType {
  width: 20rem;
}

.arrow {
  width: 1.5rem;
  height: 1rem;
}

.arrow-left:hover {
  transform: translateX(.15rem);
}

.arrow-left:active {
  transform: translateX(-.3rem);
}

.arrow-right:hover {
  transform: translateX(-.15rem);
}

.arrow-right:active {
  transform: translateX(.3rem);
}